# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# env
.env
.env.local
.env.*.local

# BDD
*.sqlite
*.sqlite3

# syst
Thumbs.db

# editors
.vscode/
.idea/

# others
coverage/